[mysqld]
innodb_buffer_pool_size = 140G
innodb_log_file_size = 2G
innodb_buffer_pool_instances = 16

max_connections = 1000
thread_cache_size = 100
table_open_cache = 8000
open_files_limit = 20000

innodb_write_io_threads = 32
innodb_read_io_threads = 32
innodb_io_capacity = 4000
innodb_io_capacity_max = 8000

innodb_log_buffer_size = 512M
binlog_format = ROW
sync_binlog = 1

query_cache_size = 0
performance_schema = OFF

skip_name_resolve
innodb_flush_method = O_DIRECT